@use "../../globals/theme/theme-light" as light;
@use "../../globals/theme/theme-dark" as dark;
:host(.theme--light) {
  width: 100%;
  height: 100%;

  --color-brand: #{light.$color-light-brand};
  --color-primary: #{light.$color-light-primary};
  --color-secondary: #{light.$color-light-secondary};
  --color-surface-0: #{light.$color-light-surface-0};
  --color-surface-1: #{light.$color-light-surface-1};
  --color-surface-2: #{light.$color-light-surface-2};
  --color-surface-3: #{light.$color-light-surface-3};
  --color-surface-4: #{light.$color-light-surface-4};
  --color-surface-positive: #{light.$color-light-surface-positive};
  --color-surface-negative: #{light.$color-light-surface-negative};
  --color-surface-primary: #{light.$color-light-surface-primary};
  --color-content-default: #{light.$color-light-content-default};
  --color-content-disable: #{light.$color-light-content-disable};
  --color-content-ghost: #{light.$color-light-content-ghost};
  --color-content-bright: #{light.$color-light-content-bright};
  --color-content-din: #{light.$color-light-content-din};
  --color-border-1: #{light.$color-light-border-1};
  --color-border-2: #{light.$color-light-border-2};
  --color-border-3: #{light.$color-light-border-3};
  --color-positive: #{light.$color-light-positive};
  --color-negative: #{light.$color-light-negative};
  --color-info: #{light.$color-light-info};
  --color-system: #{light.$color-light-system};
  --color-focus: #{light.$color-light-focus};
  --color-success: #{light.$color-light-success};
  --color-warning: #{light.$color-light-warning};
  --color-error: #{light.$color-light-error};
  --color-delete: #{light.$color-light-delete};
  --color-extended-blue: #{light.$color-light-extended-blue};
  --color-extended-blue-bright: #{light.$color-light-extended-blue-bright};
  --color-extended-ocean: #{light.$color-light-extended-ocean};
  --color-extended-ocean-bright: #{light.$color-light-extended-ocean-bright};
  --color-extended-green: #{light.$color-light-extended-green};
  --color-extended-green-bright: #{light.$color-light-extended-green-bright};
  --color-extended-yellow: #{light.$color-light-extended-yellow};
  --color-extended-yellow-bright: #{light.$color-light-extended-yellow-bright};
  --color-extended-orange: #{light.$color-light-extended-orange};
  --color-extended-orange-bright: #{light.$color-light-extended-orange-bright};
  --color-extended-red: #{light.$color-light-extended-red};
  --color-extended-red-bright: #{light.$color-light-extended-red-bright};
  --color-extended-pink: #{light.$color-light-extended-pink};
  --color-extended-pink-bright: #{light.$color-light-extended-pink-bright};
  --color-extended-gray: #{light.$color-light-extended-gray};
  --color-extended-gray-bright: #{light.$color-light-extended-gray-bright};
  --color-hover: #{light.$color-light-hover};
  --color-pressed: #{light.$color-light-pressed};
  --color-shadow-0: rgba(0, 0, 0, 0.04);
  --color-shadow-1: rgba(0, 0, 0, 0.16);
}

:host(.theme--dark) {
  width: 100%;
  height: 100%;

  --color-brand: #{dark.$color-dark-brand};
  --color-primary: #{dark.$color-dark-primary};
  --color-secondary: #{dark.$color-dark-secondary};
  --color-surface-0: #{dark.$color-dark-surface-0};
  --color-surface-1: #{dark.$color-dark-surface-1};
  --color-surface-2: #{dark.$color-dark-surface-2};
  --color-surface-3: #{dark.$color-dark-surface-3};
  --color-surface-4: #{dark.$color-dark-surface-4};
  --color-surface-positive: #{dark.$color-dark-surface-positive};
  --color-surface-negative: #{dark.$color-dark-surface-negative};
  --color-surface-primary: #{dark.$color-dark-surface-primary};
  --color-content-default: #{dark.$color-dark-content-default};
  --color-content-disable: #{dark.$color-dark-content-disable};
  --color-content-ghost: #{dark.$color-dark-content-ghost};
  --color-content-bright: #{dark.$color-dark-content-bright};
  --color-content-din: #{dark.$color-dark-content-din};
  --color-border-1: #{dark.$color-dark-border-1};
  --color-border-2: #{dark.$color-dark-border-2};
  --color-border-3: #{dark.$color-dark-border-3};
  --color-positive: #{dark.$color-dark-positive};
  --color-negative: #{dark.$color-dark-negative};
  --color-info: #{dark.$color-dark-info};
  --color-system: #{dark.$color-dark-system};
  --color-focus: #{dark.$color-dark-focus};
  --color-success: #{dark.$color-dark-success};
  --color-warning: #{dark.$color-dark-warning};
  --color-error: #{dark.$color-dark-error};
  --color-delete: #{dark.$color-dark-delete};
  --color-extended-blue: #{dark.$color-dark-extended-blue};
  --color-extended-blue-bright: #{dark.$color-dark-extended-blue-bright};
  --color-extended-ocean: #{dark.$color-dark-extended-ocean};
  --color-extended-ocean-bright: #{dark.$color-dark-extended-ocean-bright};
  --color-extended-green: #{dark.$color-dark-extended-green};
  --color-extended-green-bright: #{dark.$color-dark-extended-green-bright};
  --color-extended-yellow: #{dark.$color-dark-extended-yellow};
  --color-extended-yellow-bright: #{dark.$color-dark-extended-yellow-bright};
  --color-extended-orange: #{dark.$color-dark-extended-orange};
  --color-extended-orange-bright: #{dark.$color-dark-extended-orange-bright};
  --color-extended-red: #{dark.$color-dark-extended-red};
  --color-extended-red-bright: #{dark.$color-dark-extended-red-bright};
  --color-extended-pink: #{dark.$color-dark-extended-pink};
  --color-extended-pink-bright: #{dark.$color-dark-extended-pink-bright};
  --color-extended-gray: #{dark.$color-dark-extended-gray};
  --color-extended-gray-bright: #{dark.$color-dark-extended-gray-bright};
  --color-hover: #{dark.$color-dark-hover};
  --color-pressed: #{dark.$color-dark-pressed};
  --color-shadow-0: #{$color-shadow-0};
  --color-shadow-1: #{$color-shadow-1};
}

:host(.theme--high-contrast) {
  width: 100%;
  height: 100%;

  --color-brand: #0096fa;
  --color-primary: #1e6bf1;
  --color-secondary: #292929;
  --color-surface-1: #ffffff;
  --color-surface-2: #f5f5f5;
  --color-surface-3: #e0e0e0;
  --color-surface-4: #141414;
  --color-content-default: #292929;
  --color-content-disable: #666666;
  --color-content-ghost: #949494;
  --color-content-bright: #ffffff;
  --color-content-din: #000000;
  --color-border-1: #616161;
  --color-info: #80e3eb;
  --color-system: #99d5fd;
  --color-focus: #c226fb;
  --color-success: #84ebbc;
  --color-warning: #fde99b;
  --color-error: #f99f9f;
  --color-delete: #e60f0f;
  --color-extended-blue: #1968f0;
  --color-extended-ocean: #00d3e4;
  --color-extended-green: #35de90;
  --color-extended-yellow: #fbcf23;
  --color-extended-orange: #f06305;
  --color-extended-red: #e60f0f;
  --color-extended-pink: #fb4bc1;
  --color-extended-gray: #666666;
  --color-hover: rgba(0, 0, 0, 0.08);
  --color-pressed: rgba(0, 0, 0, 0.16);
  --color-shadow-1: rgba(0, 0, 0, 0.16);
  --color-positive: #10603b;
  --color-negative: #e60f0f;
}
