@use "app" as app;

.bds-hover:hover {
  mix-blend-mode: multiply;
}

.focus {

  &::before {
    content: '';
    position: absolute;
    inset: -4px;
    border: 2px solid transparent;
    border-radius: 4px;
  }

  &:focus-visible {
    outline: none;

    &::before {
      border-color: app.$color-focus;
    }
  }
}

.disabled {
    pointer-events: none;
}

// -------------Background Color -----------------

.bg-surface-1 {
  background-color: app.$color-surface-1;
}

.bg-surface-2 {
  background-color: app.$color-surface-2;
}

.bg-surface-3 {
  background-color: app.$color-surface-3;
}

.bg-surface-4 {
  background-color: app.$color-surface-4;
}


